[ADMIN]
send_health_check = False
health_check_id = 12345
interval = 15

[UISP]
server_fqdn = example.uisp.com
token = <uisp_token>
use_ssl = True

[MIKROTIK]
router_ip = 192.168.1.1
use_ssl = False
ssl_verify = False
disable_ssl_warning = False
username = admin
password = admin
